.Helpline_and_icon {
    /* background-color:#043665; */
    /* width: 100%; */
    display: flex;
    align-self: center;
    margin: auto;
  
    
   

}
.Helpline{
    color: #F7901E;
    text-align: left;
    height: 3ch;
    
   
    
}

.icons-list{
    position: absolute;
  right: 0;
  color: #F7901E;

  
}



@media screen and (max-width: 820px) {
    
    .Helpline{
        color: #fff;
        text-align: left;
        height: 3ch;
        
       
        
    }
    
  
  
  }


  @media screen and (max-width: 390px) {
  
    
    .icons-list{
        display: none;
     
    
      
    }
    .Helpline_and_icon {
     
      display: none;
      
    
    }
  
  }